<?php

$finder = PhpCsFixer\Finder::create()
    ->in(['src', 'tests'])
    ->name(['*.php', 'run'])
;

return PhpCsFixer\Config::create()
    ->setRules([
       '@PSR2' => true,
       'array_syntax' => ['syntax' => 'short'],
   ])
    ->setFinder($finder)
;
